@model _23DH114365_MyStore.Models.ViewModel.HomeProductVM
@{
    ViewBag.Title = "Home Page";
    <link rel="stylesheet" href="~/Content/main.css">
}

<header>
    <div class="logo">
        <h1>ELLA</h1>
    </div>
    <div class="header-links">
        <p>FREE SHIPPING ON ALL ORDERS, NO MINIMUM PURCHASE.</p>
        <ul>
            <li>Shopping Cart</li>
            <li>My Wishlist</li>
            <li>Sign In or Create an Account</li>
        </ul>
    </div>
</header>

<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Collections</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">Lookbook</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
</nav>

<section class="hero">
    <img src="~/picture/-e_o--Ella-High-Heel-DEMO-MP.jpg" alt="Shoes and Accessories">
    <div class="hero-text">
        <h2>LOREMOUS</h2>
        <p>Pellentesque posuere orci lobortis scelerisque blandit. Donec et tellus facilisis, tristique nisi ac, consequat velit.</p>
        <button>Shop The Collection</button>
    </div>
</section>

<section class="container-fluid searchProd">
    <h2>Tìm kiếm sản phẩm </h2>.
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        <div class="form-group search-container">
            @Html.TextBoxFor(m => m.SearchTerm, new
        {
           @class = "search-input",
           placehodler = "nhập tên, mô tả hay chủng loại sản phẩm"
        })
            <button class="search-button">Tìm kiếm</button>
        </div>
    }
</section>
<hr />
@* SP nổi bật *@
@Html.Partial("PVFeatureProduct", Model)

@* SP mới *@
@Html.Partial("PVNewProduct", Model)