@model _23DH114365_MyStore.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2 class="bg-success">Xóa Sản phẩm</h2>

<div class="alert-danger">Bạn có chắc chắn muốn xóa hay không ?</div>

@Html.Partial("PVDelDetProduct", Model)
<div class="form-group">
    <div class="col-md-offset-3 col-md-9">
        @Html.ActionLink("Xóa", "Delete", new { id = Model.ProductID }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-primary" })
    </div>
</div>
